header {
    background-color:rgb(82, 167, 249);
    grid-area: h;
    font-size:smaller}
    
body {
    display: grid ;
    grid-template:
    "h" 50px
    "m" auto
    "f" 50px / 100%;
    row-gap: 2px;
    column-gap: 2px}

body > * {
    font-weight: bold;
    padding: 0px 20px 5px 20px;}

main {background-color: rgb(111, 192, 65);grid-area: m;}

    form {
        display: flex;
        flex-wrap: wrap;    
        gap: 4px;}

    label {        
        width: 40%;
        margin-left: -10px;  
        margin-bottom: 2px;
        border: 1px solid black;
        padding: 0px 0px 3px 5px;
        word-wrap: break-word}
    label:hover {background-color: darkseagreen; color: midnightblue;}

    input {width: 56%; font-family: Consolas;}   

    .Checkboxen {width: 56%;}    
    .Checkboxen > input {width: 20px; }
    .Checkboxen > label {width: auto; border: none; margin-left: 0px; padding: 0px;}

    .VerzendKnop {
        width: 41%; 
        margin-left: -10px;    
        margin-top: 5px;
        padding: 3px 0px;}

footer {
    background-color: rgb(3,101,192); 
    grid-area:f;
    padding-top: 15px}

    @media screen and (min-width: 1024px){
        body {
            width: 980px;
            grid-template: 
            "h l" 50px
            "m i" auto
            "f i" 50px / 4fr 1fr;}
            @media screen and (min-width:1900px) {
                body {
                    width: 1800px;}
                label {
                    width: 20%;}
                input {
                    width: 76%}
                .Checkboxen {
                    width: 76%;}
                .VerzendKnop {
                    width: 20.5%;
            }
        }
            
    }
